[submodule "packages/authdecode"]
	path = packages/authdecode
	url = https://github.com/tlsnotary/tlsn
	branch = authdecode-wasm-benchmark
[submodule "packages/proxy"]
	path = packages/proxy
	url = https://github.com/novnc/websockify-js
